name: Destroy IoT Bridge

on:
  workflow_dispatch:   # manual trigger
#  

jobs:
  destroy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      REGION: ${{ secrets.REGION }}
      TOPIC_ID: ${{ secrets.TOPIC_ID }}
      AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
      TF_STATE_BUCKET: ${{ secrets.TF_STATE_BUCKET }}
      CLOUDRUN_SA: iot-bridge-sa@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com
      GITHUB_TERRAFORM_SA: github-terraform@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com


    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Authenticate to GCP via Workload Identity Federation
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ env.GITHUB_TERRAFORM_SA }}

    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ env.PROJECT_ID }}


#    - name: Unlock Terraform state (if locked)
#      working-directory: ./terraform
#      run: |
#        terraform force-unlock -force $(terraform state list -state=terraform.tfstate | head -n1) || echo "No lock found"


    # Terraform
    # --------------------------
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: ./terraform
      env:
        PROJECT_ID: ${{ env.PROJECT_ID }}
        REGION: ${{ env.REGION }}
        TOPIC_ID: ${{ env.TOPIC_ID }}
        AUTH_TOKEN: ${{ env.AUTH_TOKEN }}
        TF_STATE_BUCKET: ${{ env.TF_STATE_BUCKET }}
        IMAGE: ${{ env.IMAGE }}    
        
      run: |
        export PROJECT_ID="${PROJECT_ID}"
        terraform init \
          -backend-config="bucket=${TF_STATE_BUCKET}" \
          -backend-config="prefix=cloud-run" \

    # --- Step 3: Destroy Pub/Sub topic ---
    - name: Destroy Pub/Sub topic
      working-directory: ./terraform
      env:
        PROJECT_ID: ${{ env.PROJECT_ID }}
        REGION: ${{ env.REGION }}
        TOPIC_ID: ${{ env.TOPIC_ID }}
        AUTH_TOKEN: ${{ env.AUTH_TOKEN }}
        CLOUDRUN_SA: ${{ env.CLOUDRUN_SA }}
        IMAGE: ${{ env.IMAGE }}
      run: |
        terraform destroy \
          -target=google_pubsub_topic.iot_topic \
          -auto-approve \
          -var="project_id=${PROJECT_ID}" \
          -var="auth_token=${AUTH_TOKEN}" \
          -var="cloudrun_sa_email=${CLOUDRUN_SA}" \
          -var="region=${REGION}" \
          -var="image=${IMAGE}" \
          -var="container_image=${IMAGE}" \
          -var="topic_id=${TOPIC_ID}"

