name: Destroy IoT Bridge

on:
  workflow_dispatch:  # manual trigger only

jobs:
  destroy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    env:
      PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
      REGION: ${{ secrets.REGION }}
      TOPIC_ID: ${{ secrets.TOPIC_ID }}
      AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
      TF_STATE_BUCKET: ${{ secrets.TF_STATE_BUCKET }}
      CLOUDRUN_SA: iot-bridge-sa@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com
      IMAGE: europe-west1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/iot-bridge/iot-bridge:latest

    steps:
    - uses: actions/checkout@v3

    - name: Authenticate to GCP via WIF
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ env.CLOUDRUN_SA }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      working-directory: ./terraform
      run: |
        export TF_VAR_project_id=$PROJECT_ID
        export TF_VAR_region=$REGION
        export TF_VAR_topic_id=$TOPIC_ID
        export TF_VAR_auth_token=$AUTH_TOKEN
        export TF_VAR_container_image=$IMAGE

        terraform init \
          -backend-config="bucket=${TF_STATE_BUCKET}" \
          -backend-config="prefix=cloud-run"

    - name: Terraform Destroy
      working-directory: ./terraform
      run: terraform destroy -auto-approve
